<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Личный кабинет преподавателя</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5" aria-label="Eighth navbar example">
    <div class="container">
      <a class="navbar-brand" href="#">Электронный деканат</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Профиль</a>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Поиск" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="tutor.jpg" alt="Аватар преподавателя" class="img-fluid rounded-circle">
            <h2>{{ .Username }}</h2>
            <h3>Внутренний номер: {{ .Code }}</h3>
            <button type="button" class="btn btn-primary mb-2">Обратиться в деканат</button>
            <button type="button" class="btn btn-primary mb-2">Информация о студентах</button>
        </div>
        <div class="col-md-6">
            <h1>Добро пожаловать, Быковский Даниил Игоревич!</h1>
            <h4>Вы ведете следующие курсы:</h4>
            <ul>
                <li>Математическая логика</li>
                <li>Алгоритмы и структуры данных</li>
                <li>Базы данных и SQL</li>
                <li>Программирование на Python</li>
                <li>Web-программирование</li>
                <li>Искусственный интеллект</li>
                <li>Основы информационной 
            </ul>
        </div>


        <div class="col-md-3">
            <h3>Расписание на сегодня:</h3>
            <ul>
                <li>9:00 - 10:30: Математическая логика (ауд. 101)</li>
                <li>11:00 - 12:30: Алгоритмы и структуры данных (ауд. 203)</li>
                <li>14:00 - 15:30: Базы данных и SQL (ауд. 305)</li>
                <li>16:00 - 17:30: Программирование на Python (ауд. 401)</li>
            </ul>
        </div>
    </div>

    <button type="button" class="btn btn-primary mb-2">Изменить расписание</button>
    <button type="button" class="btn btn-primary mb-2">Провести тестирование</button>


</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
